@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0 50px 100px 50px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*--------------------------------------------------------------content logo, title, bar and paragraph----*/

.logo {
  margin: 50px 10px 70px 0;
  width: 6%;
  min-width: 190px;
  max-width: 400px;
}

.name {
  font-family: 'Bitter', serif;
  margin: 10px 10px 10px 0;
  color: turquoise;
  font-size: 3em;
}

.bar {
  margin: 10px 10px 20px 0;
  width: 40px;
}

.soon {
  font-family: 'Quicksand', sans-serif;
  line-height: 2em;
  font-size: 1em;
  color: #0a2739;
  margin: 10px 10px 20px 0;
}

.link {
  color: #0a2739;
  text-decoration: underline;
  font-weight: 400;
}

.link:hover {
  color: turquoise;
  font-weight: 600;
  text-decoration: none;
}


/*--------------------------------------------------------------left and right sides----*/

.all-right {
  width: 100%;
  margin-bottom: 100px;
  margin: auto;
  min-width: 300px;
}

.ruby-right {
  width: 100%;
  margin: auto;
  max-width: 700px;
}

.ruby-last {
  width: 100%;
  min-width: 350px;
  margin-bottom: 400px;
}

.img-lg {
  width: 100%;
  margin: auto;
  min-width: 200px;
}

.section {
  margin-bottom: 70px;
}

.all {
  min-width: 200px;
}

.vid-sm {
  display: none;
  min-width: 200px;
}

video {
  padding:0 0 100px 100px;
}

/*--------------------------------------------------------------image grid----*/

.grid--item {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  width: calc(33.33% - 20px);
  float: left;
  transition: all 0.5s;
  overflow: hidden;
}

.grid--item:before {
  display: block;
  padding-top: 112.5%;
  content: '';
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0 round 1%);
  clip-path: inset(0 0 0 0 round 1%);
  min-width: 200px;
}

.inside-img {
  height: 100%;
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}

.img:before {
  background: rgba(250, 181, 104, 0.2);
}

.container {
  position: absolute;
  top: 88%;
  left: 50%;
  width: 100%;
  opacity: 0;
  text-align: center;
  background-color: rgba(51, 224, 206, 0.9);
  color: #0a2739;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.5s;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 15px;
}

h1 {
  font-family: 'Bitter', serif;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  font-size: 56px;
  color: white;
}

h2:before, h2:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.75em;
  height: 0.03em;
  background: turquoise;
  vertical-align: middle;
  transition: all 0.3s;
}


.grid--item:hover .img:before,
.grid--item:hover .img:after,
.grid--item:hover .container {
  opacity: 1;
}
.grid--item:hover .container {
  transform: translate(-50%, -50%) scale(1);
}

/*----------------------------------------------------------------------------------------footer--*/


/*--------------------------------------------------------------contact btn----*/

footer {
     position: fixed;
     left: 0px;
     bottom: 0px;
     height: 60px;
     width: 100%;
     background: turquoise;
     margin-top: 10px;
}

.button1 {
    background-color: turquoise;
    color: #0a2739;
    border: 2px solid #0a2739;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 1em;
    letter-spacing: 1.5px;
    font-family: 'Bitter', serif;
    position: fixed;
    margin: 13px 10px 10px 70px;
}

.button1:hover {
    background-color: #0a2739;
    color: white;
    border: 2px solid #0a2739;
}

.arrow {
  position: absolute;
  background-color: turquoise;
  color: #0a2739;
  font-size: 2em;
  padding: 18px 2px 10px 16px;
  text-align: right;
}

.arrow:hover {
    color: white;
}

.top {
  display: none;
}

/*--------------------------------------------------------------social media--*/

a {
  color: #0a2739;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.icons {
  left: 70px;
  position: absolute;
  z-index: 6;
}

.social-icons {
  list-style-type: none;
  width: 300px;
  height: 100px;
  z-index: 3;
  margin: auto;
  padding-top: 15px;
}

.tab {
  margin-right: 10px;
  border-radius: 0 0 25px 25px;
  float: left;
}

.circle {
  padding: 10px 10px;
  width: 40px;
  font-size: 40px;
  text-align: center;
  border-radius: 25px;
  border: solid 2px;
}

.fa-behance {
  color: #0a2739;
  border-color: #0a2739;
}

.fa-behance:hover {
  background-color: #0a2739;
}

.fa-instagram {
  color: #0a2739;
  border-color: #0a2739;
}

.fa-instagram:hover {
  background-color: #0a2739;
}

.fa-vimeo {
  color: #0a2739;
  border-color: #0a2739;
}

.fa-vimeo:hover {
  background-color: #0a2739;
}

.fa-linkedin {
  color: #0a2739;
  border-color: #0a2739;
}

.fa-linkedin:hover {
  background-color: #0a2739;
}

.fa-behance:hover, .fa-instagram:hover, .fa-vimeo:hover, .fa-linkedin:hover {
  color: hsl(0, 0%, 100%);
}

.screen-reader {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/*--------------------------------------------------------------break points----*/

@media only screen and (min-width: 0px) and (max-width: 550px) {

body {
  padding: 0 20px 50px 20px;
}

.onfoot {
  display: none;
}

.grid--item {
  width: calc(50% - 20px);
}

.ruby-right {
  padding-bottom: 50px;
}

.vid-sm {
  display: block;
}

.vid {
  display: none;
}

.top {
  display: block;
}

.img-lg {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

}

@media only screen and (min-width: 551px) and (max-width: 1000px) {

.ruby-right {
  padding-bottom: 80px;
}

.vid-sm {
  display: block;
}

.vid {
  display: none;
}

.stand {
  border: none;
}

.top {
  display: none;
}

}

@media only screen and (min-width: 1000px) and (max-width: 2000px) {

.ruby-right {
  padding-bottom: 100px;
}

.vid-sm {
  display: none;
}

.name {
  font-size: 3.5em;
}

.soon {
  font-size: 1.25em;
}

}

@media only screen and (min-width: 2000px) and (max-width: 5000px) {

.ruby-right {
  padding-bottom: 120px;
}

.vid-sm {
  display: none;
}

.name {
  font-size: 3.65em;
}

.soon {
  font-size: 1.5em;
}

}
