<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <html prefix="og: http://ogp.me/ns#">

  <meta property="og:title" content="Shannon Shaw Portfolio Site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://shaw0106.github.io/final-portfolio/" />
  <meta property="og:image" content="https://shaw0106.github.io/final-portfolio/img/logo-bl-01.png" />
  <meta property="og:description" content="This is my amazing portfolio website. Shannon Shaw"/>

  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="content/favicon.ico" rel="shortcut icon">

  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <a href="{{site.baseurl}}/index"><strong><img class="logo" role="logo" aria-label="Shannon Shaw Design" src="{{site.baseurl}}/img/logo-bl-01.png" alt="Shannon Shaw Graphic Design Portfolio"></strong></a>
  </header>

      {{content}}

  <footer>

    <div class="onfoot">
      <a itemprop="email" role="button" aria-label="Contact me through email" href="mailto:shannonshawdesign@outlook.com"><button class="button1">Contact</button></a>
    </div>

    <div class="onfoot arrow">
      <a href="#top">
        <i class="fa fa-arrow-up tab" role="button" aria-label="Back to top" aria-hidden="false"></i>
        <span class="screen-reader">Back to Top</span>
      </a>
    </div>


      <ul class="social-icons" role="link">
        <li class="tab">
          <a href="https://www.behance.net/Shannon_Shaw">
            <i class="fa fa-behance circle" role="button" aria-label="See more work on Behance" aria-hidden="false"></i>
            <span class="screen-reader">Behance</span>
          </a>
        </li>
        <li class="tab">
          <a href="https://www.instagram.com/silentpencildesign/?hl=en">
            <i class="fa fa-instagram circle" role="button" aria-label="See more work on Instagram" aria-hidden="false"></i>
            <span class="screen-reader">Instagram</span>
          </a>
        </li>
        <li class="tab">
          <a href="https://vimeo.com/user47722297">
            <i class="fa fa-vimeo circle" role="button" aria-label="See more videos on Vimeo" aria-hidden="false"></i>
            <span class="screen-reader">Vimeo</span>
          </a>
        </li>
        <li class="tab">
          <a href="https://ca.linkedin.com/in/shannon-shaw-5335b6113">
            <i class="fa fa-linkedin circle" role="button" aria-label="See more about me on Linkedin" aria-hidden="false"></i>
            <span class="screen-reader">Linkedin</span>
          </a>
        </li>
      </ul>

  </footer>

</body>
</html>
